<?xml version="1.0" encoding="UTF-8"?>
<application>
	<framework>
		<attributes>
			<key name="log.config">ac/config/log4j2Config.xml</key>
			<key name="log.class">action.object.aologger</key>
			<key name="log.filename">ActionUnitTest.log</key>
			<key name="log.path">/DEVTMP/action/temp/logs/</key>
			<key name="config.dump">true</key>
			<key name="application.dateFormat">yyyyMMdd</key>
			<key name="application.timeFormat">HHmmssS</key>
			<key name="application.datetimeFormat">yyyyMMddHHmmssS</key>
			<key name="temp.path">/DEVTMP/action/temp/</key>
			<key name="services.repository">/DEVTMP/action/temp/directory/</key>
			<key name="dbmanager">
				<activeList>OWF</activeList>
				<!--connection name="NCS" driver="oracle.jdbc.OracleDriver">
					<uri>jdbc:oracle:thin:@192.168.56.102:1522:ORCL</uri>
					<user>NCS3</user>
					<password>NCS3</password>
					<poolSize>5</poolSize>
					<validataionSQL>SELECT 1 FROM DUAL</validataionSQL>
				</connection>
				<connection name="DERBYDB" driver="org.apache.derby.jdbc.EmbeddedDriver">
					<uri>jdbc:derby:derbyDB;create=true</uri>
					<user>user1</user>
					<password>user1</password>
					<poolSize>5</poolSize>
					<validataionSQL>VALUES 1</validataionSQL>
				</connection>
				<connection name="NAIS" driver="oracle.jdbc.OracleDriver">
					<uri>jdbc:oracle:thin:@debssd75:1521:ORCL</uri>
					<user>NAIS</user>
					<password>NAISPWD</password>
					<poolSize>5</poolSize>
					<validataionSQL>SELECT 1 FROM DUAL</validataionSQL>
				</connection-->
				<connection name="OWF" driver="com.mysql.jdbc.Driver">
					<uri>jdbc:mysql://address=(protocol=tcp)(host=127.0.0.1)(port=3306)/MYOWF</uri>
					<user>ssdhaliwal</user>
					<password>29Wyatt!0</password>
					<poolSize>5</poolSize>
					<validataionSQL>SELECT CURDATE()</validataionSQL>
				</connection>
			</key>
		</attributes>
	</framework>
	<actions>
		<action name="TestTable" class="ac.factory.objects.TestTable">
			<connection>NAIS</connection>
			<SQL>
				<columns>ID,NAME</columns>
				<select>TABLE1</select>
				<update></update>
				<delete></delete>
				<insert></insert>
				<create>CREATE TABLE TABLE1 (ID NUMBER, NAME VARCHAR(50))</create>
				<primary>
					<params name="primary">ID</params>
				</primary>
			</SQL>
		</action>
		<action name="DummyTable" class="ac.factory.objects.DummyTable">
			<connection>NCS</connection>
			<SQL>
				<columns>FIELD1,FIELD11,FIELD12,FIELD2,FIELD3,FIELD31,FIELD32,FIELD4,FIELD41,FIELD5,FIELD6,FIELD9,FIELD91,FIELD14,FIELD16,FIELD17,FIELD18,FIELD181,FIELD182,FIELD19,FIELD20,FIELD21,FIELD22
				</columns>
				<select>NCS3.WEBSET</select>
				<update>NCS3.SPU_SystemIdentification</update>
				<delete>NCS3.SPD_SystemIdentification</delete>
				<insert>NCS3.SPI_SystemIdentification</insert>
				<primary>
					<params name="primary">SYSTEM_IDENTIFICATION_ID</params>
				</primary>
			</SQL>
		</action>
		<action name="SystemIdentification" class="ac.factory.objects.SystemIdentification">
			<connection>NCS</connection>
			<SQL>
				<columns>SYSTEM_IDENTIFICATION_ID,SYSTEM_IDENTIFICATION,SYSTEM_ID_SHORT,DHS_SYSTEM_ID,SYSTEM_GUID,DESCRIPTION,DT_CRTD,DT_UPDT
				</columns>
				<columnTypes>long,string,string,string,string,string,timestamp,timestamp
				</columnTypes>
				<orderBy>SYSTEM_ID_SHORT</orderBy>
				<select>NCS3.VWSYSTEM_IDENTIFICATION</select>
				<update>NCS3.SPU_SystemIdentification</update>
				<delete>NCS3.SPD_SystemIdentification</delete>
				<insert>NCS3.SPI_SystemIdentification</insert>
				<index>
					<key name="primary">SYSTEM_IDENTIFICATION_ID</key>
				</index>
			</SQL>
		</action>
		<action name="Site" class="ac.factory.objects.Site">
			<connection>NCS</connection>
			<SQL>
				<columns>ANTENNA_HEIGHT,DT_CRTD,DT_UPDT,ICON_NAME,SITE,SITE_ANTENNA_ID,SITE_ANTENNA,SITE_CONFIG_ID,SITE_CONFIG,SITE_ID,SITE_TYPE_ID,SITE_TYPE,UNIT_ID,UNIT,CONTACT_ID,CONTACT,CITYSTATE_ID,CITY,STATE,ZIP
				</columns>
				<columnTypes>double,timestamp,timestamp,string,string,long,string,long,string,long,long,string,long,string,long,string,long,string,string,long
				</columnTypes>
				<orderBy>SITE</orderBy>
				<select>NCS3.VWSITE;NCS3.SPS_SITE</select>
				<update>NCS3.SPU_SITE</update>
				<delete>NCS3.SPD_SITE</delete>
				<insert>NCS3.SPI_SITE</insert>
				<index>
					<key name="primary">SITE_ID</key>
				</index>
			</SQL>
		</action>
		<action name="SiteControlStatus" class="ac.factory.objects.SiteControlStatus">
			<connection>NCS</connection>
			<SQL>
				<columns>DT_CRTD,DT_UPDT,SITE_CONTROL_STATUS_ID,SITE_CORR_GEN_METHOD_ID,SITE_CORR_GEN_METHOD,SITE_ID,SITE,SITE_SIDE_ID,SITE_SIDE,SITE_STATE_ID,SITE_STATE,SITE_STATUS_ID,SITE_STATUS
				</columns>
				<columnTypes>timestamp,timestamp,long,long,string,long,string,long,string,long,string,long,string
				</columnTypes>
				<orderBy>SITE</orderBy>
				<select>NCS3.VWSITE_CONTROL_STATUS;NCS3.SPS_SITECONTROLSTATUS
				</select>
				<update>NCS3.SPU_SITE_CONTROL_STATUS</update>
				<delete>NCS3.SPD_SITE_CONTROL_STATUS</delete>
				<insert>NCS3.SPI_SITE_CONTROL_STATUS</insert>
				<index>
					<key name="primary">SITE_ID</key>
				</index>
			</SQL>
		</action>
		<action name="OWFHQuery1" class="ac.factory.objects.OWFHQuery">
			<connection>NCS</connection>
			<SQL>
				<columns>id, name, getCategoryPath(id) AS path
				</columns>
				<columnTypes>long,string,string
				</columnTypes>
				<orderBy>path</orderBy>
				<select>owf_category</select>
				<update></update>
				<delete></delete>
				<insert></insert>
				<index>
					<key name="primary">id</key>
				</index>
			</SQL>
		</action>
	</actions>
</application>
